# Archivos generados por CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Archivos de compilación y ejecutables
*.o
*.out
simulador_hogar

# Reportes generados
reporte_consumo.txt
# Documentación generada por Doxygen
docs/
